src/pages/section/personal-acc.pug
.wrap-full-page
    +b.SECTION.personal-acc
        .container
            +b.blueblock
                +e.name
                    +e.name-text Марченков Андрей
                    +b.BUTTON.btn.btn_yel
                        +e.ico
                            i.fas.fa-pencil-alt
                +e.header
                    +e.coins
                        +e.coin-amount 40
                        +e.coin-logo
                            img(src="img/amount-logo.png")
                    +e.header-title Мои Альпен-коины
                +e.table
                    +e.table-title Турнирная таблица
                    +b.tabs
                        +e.UL.caption
                            +e.item.active Чеки
                            +e.item Призы
                        +e.content.active.overflow-hidden
                            +b.TABLE.table
                                +e.TR.title
                                    td 
                                    td дата
                                    td номер чека
                                    td фото
                                    td cтатус чека
                                    td количество<br>Альпен-коинов
                                tr
                                    td 1.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td на модерации
                                    td 10 коинов
                                
                                tr
                                    td 2.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.rejected отклонен
                                        i.fas.fa-question-circle.question
                                    td 10 коинов
                                
                                tr
                                    td 3.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td на модерации
                                    td 10 коинов
                                
                                tr
                                    td 4.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.confirmed подтвержден
                                    td 10 коинов
                                
                                tr
                                    td 5.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.confirmed подтвержден
                                    td 10 коинов
                                
                                tr
                                    td 6.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.confirmed подтвержден
                                    td 10 коинов
                                
                                tr
                                    td 7.
                                    td 12.02
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")
                                    td.confirmed подтвержден
                                    td 10 коинов
                                tr
                                    td 
                                    td 
                                    td 
                                    td 
                                    td 
                                    td.summ Всего<br><b>70 коинов</b>
                        +e.content 
                            +b.TABLE.table
                                +e.TR.title
                                    td 
                                    td приз
                                    td количество<br>Альпен-коинов
                                    td местов<br>в ТОП-100
                                
                                tr
                                    td 1.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 4
                                
                                tr
                                    td 2.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 65 место, Этап 3
                                
                                tr
                                    td 3.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 4
                                
                                tr
                                    td 4.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 4
                                
                                tr
                                    td 5.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 4 место, Этап 2
                                
                                tr
                                    td 6.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 1
                                
                                tr
                                    td 7.
                                    td 700 баллов
                                    td 10 коинов
                                        i.fas.fa-question-circle.question
                                    td 99 место, Этап 3

                                +e.TR.title
                                    td 
                                    td приз
                                    td номер чека
                                    td фото
                                
                                tr
                                    td 1.
                                    td Поездка
                                    td 9485895-443-3
                                    td.photo
                                        img(src="img/personal-acc/photo.png")

                            
                
                +b.BUTTON.btn.btn_yel
                    +e.text Загрузить чек
                +b.BUTTON.btn.btn_yel
                    +e.text Войти
                    +e.ico
                        i.fas.fa-sign-in-alt
                +e.background-triangle

build/personal-acc.html

<!-- VARIABLES--><!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>VISA - Газпромнефть FIFA 2018</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#299CC4">
  <meta name="apple-mobile-web-app-title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <div class="mobile-menu">
    <div class="mobile-menu__wrap"><a class="mobile-menu__link mobile-menu__link_center" href="/home"><img class="mobile-menu__choco-logo" src="/img/choco-logo.png" alt="Alpen Gold" title=""/></a>
      <div class="mobile-menu__links-wrap"><a class="mobile-menu__link mobile-menu__link_active" href="/index.html">главная</a><a class="mobile-menu__link" href="/product.html">Продукт</a><a class="mobile-menu__link" href="#">Победители и Турнирная таблица</a><a class="mobile-menu__link" href="#">правила и призы</a><a class="mobile-menu__link open-popup" href="#" data-popup="#feedback">Обратная связь</a>
        <div class="mobile-menu__login-wrap">
          <button class="btn">
            <div class="btn__text">Войти
            </div>
            <div class="btn__ico"><i class="fas fa-sign-in-alt"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu-helper">
    <div class="height-helper">
      <header class="header">
        <div class="header__container container container container_big"><a class="header__logo" href="#"><img class="header__logo-img" src="/img/lenta-logo.png" alt="ЛЕНТА" title=""/><span class="menu-btn"><span class="menu-btn__row"></span><span class="menu-btn__row"></span><span class="menu-btn__row"></span></span></a>
          <div class="header__links-container container">
            <div class="header__links-wrap header__links-wrap_left"><a class="header__link header__link_active" href="/index.html">Главная</a><a class="header__link" href="/product.html">Продукт</a><a class="header__link" href="/winners.html">Победители и Турнирная таблица</a>
            </div>
            <div class="header__links-wrap header__links-wrap_center"><a class="header__link header__link_center" href="/index.html"><img class="header__choco-logo" src="/img/choco-logo.png" alt="Alpen Gold" title=""/></a>
            </div>
            <div class="header__links-wrap header__links-wrap_right"><a class="header__link" href="#">правила и призы</a>
              <div class="header__link open-popup" data-popup="#feedback">Обратная связь
              </div><a class="header__link" href="#"> </a>
            </div>
          </div>
          <div class="header__links-container header__links-container_btn container">
            <button class="btn">
              <div class="btn__text">Войти
              </div>
              <div class="btn__ico"><i class="fas fa-sign-in-alt"></i>
              </div>
            </button>
          </div>
        </div>
      </header>
      <div class="wrap-full-page">
        <section class="personal-acc">
          <div class="container">
            <div class="blueblock">
              <div class="blueblock__name">
                <div class="blueblock__name-text">Марченков Андрей
                </div>
                <button class="btn btn btn_yel">
                  <div class="btn__ico"><i class="fas fa-pencil-alt"></i>
                  </div>
                </button>
              </div>
              <div class="blueblock__header">
                <div class="blueblock__coins">
                  <div class="blueblock__coin-amount">40
                  </div>
                  <div class="blueblock__coin-logo"><img src="img/amount-logo.png">
                  </div>
                </div>
                <div class="blueblock__header-title">Мои Альпен-коины
                </div>
              </div>
              <div class="blueblock__table">
                <div class="blueblock__table-title">Турнирная таблица
                </div>
                <div class="tabs">
                  <ul class="tabs__caption">
                    <li class="tabs__item active">Чеки
                    </li>
                    <li class="tabs__item">Призы
                    </li>
                  </ul>
                  <div class="tabs__content active overflow-hidden">
                    <table class="table">
                      <tr class="table__title">
                        <td> </td>
                        <td>дата</td>
                        <td>номер чека</td>
                        <td>фото</td>
                        <td>cтатус чека</td>
                        <td>количество<br>Альпен-коинов</td>
                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>12.02</td>
                        <td>9485895-443-3</td>
                        <td class="photo"><img src="img/personal-acc/photo.png"></td>
                        <td>на модерации</td>
                        <td>10 коинов</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>12.02</td>
                        <td>9485895-443-3</td>
                        <td class="photo"><img src="img/personal-acc/photo.png"></td>
                        <td class="rejected">отклонен<i class="fas fa-question-circle question"></i></td>
                        <td>10 коинов</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>12.02</td>
                        <td>9485895-443-3</td>
                        <td class="photo"><img src="img/personal-acc/photo.png"></td>
                        <td>на модерации</td>
                        <td>10 коинов</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>12.02</td>
                        <td>9485895-443-3</td>
                        <td class="photo"><img src="img/personal-acc/photo.png"></td>
                        <td class="confirmed">подтвержден</td>
                        <td>10 коинов</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>12.02</td>
                        <td>9485895-443-3</td>
                        <td class="photo"><img src="img/personal-acc/photo.png"></td>
                        <td class="confirmed">подтвержден</td>
                        <td>10 коинов</td>
                      </tr>
                      <tr>
                        <td>6.</td>
                        <td>12.02</td>
                        <td>9485895-443-3</td>
                        <td class="photo"><img src="img/personal-acc/photo.png"></td>
                        <td class="confirmed">подтвержден</td>
                        <td>10 коинов</td>
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td>12.02</td>
                        <td>9485895-443-3</td>
                        <td class="photo"><img src="img/personal-acc/photo.png"></td>
                        <td class="confirmed">подтвержден</td>
                        <td>10 коинов</td>
                      </tr>
                      <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td class="summ">Всего<br><b>70 коинов</b></td>
                      </tr>
                    </table>
                  </div>
                  <div class="tabs__content"> 
                    <table class="table">
                      <tr class="table__title">
                        <td> </td>
                        <td>приз</td>
                        <td>количество<br>Альпен-коинов</td>
                        <td>местов<br>в ТОП-100</td>
                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>700 баллов</td>
                        <td>10 коинов<i class="fas fa-question-circle question"></i></td>
                        <td>99 место, Этап 4</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>700 баллов</td>
                        <td>10 коинов<i class="fas fa-question-circle question"></i></td>
                        <td>65 место, Этап 3</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>700 баллов</td>
                        <td>10 коинов<i class="fas fa-question-circle question"></i></td>
                        <td>99 место, Этап 4</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>700 баллов</td>
                        <td>10 коинов<i class="fas fa-question-circle question"></i></td>
                        <td>99 место, Этап 4</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>700 баллов</td>
                        <td>10 коинов<i class="fas fa-question-circle question"></i></td>
                        <td>4 место, Этап 2</td>
                      </tr>
                      <tr>
                        <td>6.</td>
                        <td>700 баллов</td>
                        <td>10 коинов<i class="fas fa-question-circle question"></i></td>
                        <td>99 место, Этап 1</td>
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td>700 баллов</td>
                        <td>10 коинов<i class="fas fa-question-circle question"></i></td>
                        <td>99 место, Этап 3</td>
                      </tr>
                      <tr class="table__title">
                        <td> </td>
                        <td>приз</td>
                        <td>номер чека</td>
                        <td>фото</td>
                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>Поездка</td>
                        <td>9485895-443-3</td>
                        <td class="photo"><img src="img/personal-acc/photo.png"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <button class="btn btn btn_yel">
                <div class="btn__text">Загрузить чек
                </div>
              </button>
              <button class="btn btn btn_yel">
                <div class="btn__text">Войти
                </div>
                <div class="btn__ico"><i class="fas fa-sign-in-alt"></i>
                </div>
              </button>
              <div class="blueblock__background-triangle">
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer__container container">
          <div class="footer__row"><a class="footer__link footer__link_mail" href="mailto:admin@alpengoldjoy.ru">admin@alpengoldjoy.ru<i class="fas fa-envelope-open"></i></a><a class="footer__link footer__link_phone" href="tel:8-800-000-0000">8 (800) 000-0000<i class="fas fa-phone"></i></a>
          </div>
          <div class="footer__row"><a class="footer__link footer__link_uppercase" href="#">ПРАВИЛА АКЦИИ</a><a class="footer__link footer__link_uppercase" href="#">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</a><a class="footer__link footer__link_uppercase" href="#">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a><a class="footer__link footer__link_uppercase" href="#">ИНФОРМАЦИЯ О ДАТАХ ОПРЕДЕЛЕНИЯ ПОБЕДИТЕЛЕЙ</a><a class="footer__link footer__link_uppercase" href="#">ИНФОРМАЦИЯ О ДАТЕ РОЗЫГРЫША ГЛАВНОГО ПРИЗА</a><a class="footer__link footer__link_uppercase" href="#">ИНФОРМАЦИЯ О ДАТЕ ЗАВЕРШЕНИЯ РЕГИСТРАЦИИ ЧЕКОВ</a>
          </div>
          <div class="footer__row footer__row_desc">
            <div class="footer__desc">*Альпен-коин - вымышленная валюта - размещаем на всех страницах
            </div>
            <div class="footer__desc">**Dark – темный - размещаем только на тех страницах, где есть шоколад «AD dark» - это Заглушка, Главная, Правила и Призы
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.inputmask.bundle.min.js"></script>
<script src="js/messages_ru.js"></script>
<script src="js/main.js"></script>
