src/pages/section/product.pug
.wrap-full-page
    +b.SECTION.product
        .container.container_mid
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="http://lenta.alpengold.me/img/products/product-15.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun3.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="http://lenta.alpengold.me/img/products/product-11.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun2.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить
                    .swiper-slide
                        +e.item
                            +e.img
                                img(src="img/product/maxfun3.png")
                            +e.content
                                +e.title.title-custom Alpen Gold Max Fun
                                +e.disc шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                                button.btn.btn_yel Купить

            .swiper-button-prev
            .swiper-button-next

                //- <div class="swiper-scrollbar"></div>
            

build/product.html

<!-- VARIABLES--><!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>VISA - Газпромнефть FIFA 2018</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#299CC4">
  <meta name="apple-mobile-web-app-title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <div class="mobile-menu">
    <div class="mobile-menu__wrap"><a class="mobile-menu__link mobile-menu__link_center" href="/home"><img class="mobile-menu__choco-logo" src="/img/choco-logo.png" alt="Alpen Gold" title=""/></a>
      <div class="mobile-menu__links-wrap"><a class="mobile-menu__link mobile-menu__link_active" href="/index.html">главная</a><a class="mobile-menu__link" href="/product.html">Продукт</a><a class="mobile-menu__link" href="#">Победители и Турнирная таблица</a><a class="mobile-menu__link" href="#">правила и призы</a><a class="mobile-menu__link open-popup" href="#" data-popup="#feedback">Обратная связь</a>
        <div class="mobile-menu__login-wrap">
          <button class="btn">
            <div class="btn__text">Войти
            </div>
            <div class="btn__ico"><i class="fas fa-sign-in-alt"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu-helper">
    <div class="height-helper">
      <header class="header">
        <div class="header__container container container container_big"><a class="header__logo" href="#"><img class="header__logo-img" src="/img/lenta-logo.png" alt="ЛЕНТА" title=""/><span class="menu-btn"><span class="menu-btn__row"></span><span class="menu-btn__row"></span><span class="menu-btn__row"></span></span></a>
          <div class="header__links-container container">
            <div class="header__links-wrap header__links-wrap_left"><a class="header__link header__link_active" href="/index.html">Главная</a><a class="header__link" href="/product.html">Продукт</a><a class="header__link" href="/winners.html">Победители и Турнирная таблица</a>
            </div>
            <div class="header__links-wrap header__links-wrap_center"><a class="header__link header__link_center" href="/index.html"><img class="header__choco-logo" src="/img/choco-logo.png" alt="Alpen Gold" title=""/></a>
            </div>
            <div class="header__links-wrap header__links-wrap_right"><a class="header__link" href="#">правила и призы</a>
              <div class="header__link open-popup" data-popup="#feedback">Обратная связь
              </div><a class="header__link" href="#"> </a>
            </div>
          </div>
          <div class="header__links-container header__links-container_btn container">
            <button class="btn">
              <div class="btn__text">Войти
              </div>
              <div class="btn__ico"><i class="fas fa-sign-in-alt"></i>
              </div>
            </button>
          </div>
        </div>
      </header>
      <div class="wrap-full-page">
        <section class="product">
          <div class="container container_mid">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product__item">
                    <div class="product__img"><img src="img/product/maxfun.png">
                    </div>
                    <div class="product__content">
                      <div class="product__title title-custom">Alpen Gold Max Fun
                      </div>
                      <div class="product__disc">шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                      </div>
                      <button class="btn btn_yel">Купить</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__item">
                    <div class="product__img"><img src="http://lenta.alpengold.me/img/products/product-15.png">
                    </div>
                    <div class="product__content">
                      <div class="product__title title-custom">Alpen Gold Max Fun
                      </div>
                      <div class="product__disc">шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                      </div>
                      <button class="btn btn_yel">Купить</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__item">
                    <div class="product__img"><img src="img/product/maxfun3.png">
                    </div>
                    <div class="product__content">
                      <div class="product__title title-custom">Alpen Gold Max Fun
                      </div>
                      <div class="product__disc">шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                      </div>
                      <button class="btn btn_yel">Купить</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__item">
                    <div class="product__img"><img src="http://lenta.alpengold.me/img/products/product-11.png">
                    </div>
                    <div class="product__content">
                      <div class="product__title title-custom">Alpen Gold Max Fun
                      </div>
                      <div class="product__disc">шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                      </div>
                      <button class="btn btn_yel">Купить</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__item">
                    <div class="product__img"><img src="img/product/maxfun.png">
                    </div>
                    <div class="product__content">
                      <div class="product__title title-custom">Alpen Gold Max Fun
                      </div>
                      <div class="product__disc">шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                      </div>
                      <button class="btn btn_yel">Купить</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__item">
                    <div class="product__img"><img src="img/product/maxfun2.png">
                    </div>
                    <div class="product__content">
                      <div class="product__title title-custom">Alpen Gold Max Fun
                      </div>
                      <div class="product__disc">шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                      </div>
                      <button class="btn btn_yel">Купить</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__item">
                    <div class="product__img"><img src="img/product/maxfun3.png">
                    </div>
                    <div class="product__content">
                      <div class="product__title title-custom">Alpen Gold Max Fun
                      </div>
                      <div class="product__disc">шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью, 160 г
                      </div>
                      <button class="btn btn_yel">Купить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer__container container">
          <div class="footer__row"><a class="footer__link footer__link_mail" href="mailto:admin@alpengoldjoy.ru">admin@alpengoldjoy.ru<i class="fas fa-envelope-open"></i></a><a class="footer__link footer__link_phone" href="tel:8-800-000-0000">8 (800) 000-0000<i class="fas fa-phone"></i></a>
          </div>
          <div class="footer__row"><a class="footer__link footer__link_uppercase" href="#">ПРАВИЛА АКЦИИ</a><a class="footer__link footer__link_uppercase" href="#">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</a><a class="footer__link footer__link_uppercase" href="#">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a><a class="footer__link footer__link_uppercase" href="#">ИНФОРМАЦИЯ О ДАТАХ ОПРЕДЕЛЕНИЯ ПОБЕДИТЕЛЕЙ</a><a class="footer__link footer__link_uppercase" href="#">ИНФОРМАЦИЯ О ДАТЕ РОЗЫГРЫША ГЛАВНОГО ПРИЗА</a><a class="footer__link footer__link_uppercase" href="#">ИНФОРМАЦИЯ О ДАТЕ ЗАВЕРШЕНИЯ РЕГИСТРАЦИИ ЧЕКОВ</a>
          </div>
          <div class="footer__row footer__row_desc">
            <div class="footer__desc">*Альпен-коин - вымышленная валюта - размещаем на всех страницах
            </div>
            <div class="footer__desc">**Dark – темный - размещаем только на тех страницах, где есть шоколад «AD dark» - это Заглушка, Главная, Правила и Призы
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.inputmask.bundle.min.js"></script>
<script src="js/messages_ru.js"></script>
<script src="js/main.js"></script>
